In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import requests

In [4]:
url = "https://www.ukcrimestats.com/National_Picture/"

In [5]:
html=requests.get(url)

In [6]:
html

In [7]:
dfs = pd.read_html(url)

In [10]:
dfs[0]

    Unnamed: 0     ASB  Burglary  ...  Public Order   Other   Total
0     Nov 2021   71803     20002  ...         37508    7712  447401
1     Oct 2021   82595     20317  ...         43254    8165  481306
2     Sep 2021   89211     18396  ...         45502    7855  472474
3     Aug 2021  101639     17975  ...         43526    7213  476677
4     Jul 2021  114525     17274  ...         49713    8133  507306
..         ...     ...       ...  ...           ...     ...     ...
127   Apr 2011  277816     40436  ...        187879  187879  610989
128   Mar 2011  244125     44322  ...        229915  229915  625368
129   Feb 2011  209941     42346  ...        206419  206419  556370
130   Jan 2011  204819     45228  ...        205228  205228  561265
131   Dec 2010  207139     38226  ...        151487  151487  491730

[132 rows x 16 columns]

In [46]:
crime=dfs[0]

In [47]:
crime=crime.drop(crime.columns[[1,2,3,4,5,6,7,8,9,10,11,12,13,14]], axis=1)

In [49]:
crime.columns=["date","total"]

In [53]:
crime["date"]

0      Nov 2021
1      Oct 2021
2      Sep 2021
3      Aug 2021
4      Jul 2021
         ...
127    Apr 2011
128    Mar 2011
129    Feb 2011
130    Jan 2011
131    Dec 2010
Name: date, Length: 132, dtype: object

In [54]:
crime["date"]=pd.to_datetime(crime["date"])

In [55]:
crime

          date   total
0   2021-11-01  447401
1   2021-10-01  481306
2   2021-09-01  472474
3   2021-08-01  476677
4   2021-07-01  507306
..         ...     ...
127 2011-04-01  610989
128 2011-03-01  625368
129 2011-02-01  556370
130 2011-01-01  561265
131 2010-12-01  491730

[132 rows x 2 columns]

In [56]:
crime.to_csv("crimeData.csv")

In [57]:
from google.colab import files

In [58]:
files.download("crimeData.csv")